DB_USERNAME=username
DB_PASSWORD=password
JWT_SECRET=secret
GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
GMAIL_USERNAME=example@gmail.com
GMAIL_APP_PASSWORD=password
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=12345678
CLOUDINARY_API_SECRET=secret
DOCKER_REDIS_PASSWORD=password